body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center; 
    justify-content: space-between;
    flex: 1;
    margin: 0;
    
}

/* start of top-background */
.top-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    padding: 8px 400px 32px 400px;
    align-content: center;
    color:white;
}

/*start  of header*/
.header {
    display: flex;
    align-items: center;
    margin: 8px 0px 32px 0px;
    
    gap: 12px;
    
}

.link {
    display: flex;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.header-logo {
    margin-right: auto;
    font-size: 16px;
    font-weight: 700;
}
/*end of header*/
/*start of top-content*/

.top-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

h1 {
    font-weight: 700;
}

button {
    background-color: #3882F6;
    flex: 0;
    width: 90px;
    padding: 10px;
    color: white;
    border-radius: 10%;
}

img {
    height: 250px;
    width: 250px;
}

/* end of top-background*/
/*end of top-content*/

/*start of section 2*/
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding-bottom: 64px;

}

.box {
    width: 32px;
    height: 32px;
    padding: 32px;
    border-style: solid;
    border-color: rgb(0, 110, 255);
    border-radius: 7%;
}

.box-content-container {
    display: flex;
    align-items: center;
    gap: 64px;
}

.item-1, .item-2, .item-3, .item-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 102px;
    flex-wrap: wrap;
}

