body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center; 
    justify-content: space-between;
    flex: 1;
    margin: 0;
    
}

/* start of top-background */
.top-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    padding: 8px 400px 32px 400px;
    align-content: center;
}

/*start  of header*/
.header {
    display: flex;
    align-items: center;
    margin-top: 8px;
    color:white;
    
}

.link {
    display: flex;
    margin: 8px;
    padding: 12px;
    text-decoration: none;
    color: white
}

.header-logo {
    margin-right: auto;
    font-size: 16px;
    font-weight: 700;
}
/*end of header*/
/*start of top-content*/

.top-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

img {
    height: 250px;
    width: 250px;
}
