body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center; 
    justify-content: space-between;
    flex: 1;
    margin: 0;
    
}

/* start of top-background */
.top-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    padding: 8px 400px 32px 400px;
    align-content: center;
    color:white;
}

/*start  of header*/
.header {
    display: flex;
    align-items: center;
    margin: 8px 0px 32px 0px;
    
    gap: 12px;
    
}

.link {
    display: flex;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.header-logo {
    margin-right: auto;
    font-size: 16px;
    font-weight: 700;
}
/*end of header*/
/*start of top-content*/

.top-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

h1 {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 0px;
}

.h1-content {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    width: 90px;
    max-height: 39px;
    padding: 10px;
    color: white;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 250px;
    width: 250px;
}

/* end of top-background*/
/*end of top-content*/

/*start of section 2*/
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding-bottom: 64px;

}

h2 {
    font-weight: 700;
    margin: 32px;
}

.box-content-container {
    display: flex;
    align-items: center;
    gap: 64px;
}

.item-1, .item-2, .item-3, .item-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 102px;
    flex-wrap: wrap;
}

.box {
    width: 32px;
    height: 32px;
    padding: 32px;
    border-style: solid;
    border-color: rgb(0, 110, 255);
    border-radius: 7%;
}

/*end of section-2*/

/*start of section-3*/

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 510px;
    background-color: #E5E7EB;
}

.quote {
    width: 600px;
    margin-bottom: 0px;
    font-size: 32px;
    font-style: light italic;
    color: #1F2937;
}

.thor {
    align-self: flex-end;
    font-weight: 700;
}

/*end of section 3
start of section 4*/

.section-4 {
    display: flex;
    width: 800px;
    max-height: 102px;
    background-color: #3882F6;
    align-self: center; 
    margin: 100px;
    justify-content: center;
    align-items: center;
    gap: 120px;;
    
    
}

.cta-text {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 32px 32px 32px 0px;
    gap: 8px;
    
}

.cta-01 {
    font-size: 16px;
    font-weight: 700;
}

.cta-02 {
    font-size: 12px;
}

.cta-button {
    border-color: #E5E7EB;
    box-shadow: none;
    border-style: solid;
}